<header>
  <% content_for :title, "Récupération des données - Siopy.fr" %>
</header>

<div class="container">
  <div class="row">
    <h4 style="text-align: center; align-content: center;">Le site www.vourronjocelyn.fr n'existe plus.. Mais vous pouvez toujours récupérer les données mise en ligne !</h4>
  </div>
  <hr>
  <br>
  <h5>Voici les différentes ressources mise en ligne : </h5>
  <br>
  <ul>
    <li>Glasson : <a href="https://mega.nz/#!hKIkDCAY!SeG0MWG39v6pBirV8jnF7RsEqWeHTpdTXIc-3YLjKYM">Lien de téléchargement</a></li>
    <li>Mme Meckes : <a href="https://mega.nz/#!4bQmzQIb!CKUeRCIbxWIzEbCV77PjZVryCBm1gXgpcfV4pMGvDQA">Lien de téléchargement</a> </li>
    <li>Mme Hoffert : <a href="https://mega.nz/#!hTRUUY6Z!K2y6jz6_3oN1d_IrHluu8ONoEH7AO7HtPAxXjP5c-k8">Lien de téléchargement</a></li>
    <li>Mr Haoual : <a href="https://mega.nz/#!dCBkxCRT!_Fm_MWGCFdfQLoPzj_ZGX3yQqd0-MTbAQYzMgcdWjPY">Lien de téléchargement</a></li>
    <li>Mr Schor : <a href="https://mega.nz/#!VaJWDYIY!nUIz8rd-SD_590TPa12eiEOeAu4YMODRkby5ZEsB01g">Lien de téléchargement</a></li>
    <li>Documents important : <a href="https://mega.nz/#!YKJkGaxR!nkM9oR6TcSQeNde6hnTQwIX-_xEVsR04qCSVPY2p-AA">Lien de téléchargement</a></li>
  </ul>
</div>