<p><%= @email %> s'est inscrit pour rejoindre votre site! ( <%= @first_name %> <%= @last_name %> )</p>
<p>Un administrateur peut approuver cette inscription en visitant le site Web et en modifiant l’utilisateur.</p>